<div class="sidenav">
    <div class="sidenav-content">
        <figure class="image is-128x128">
            <img class="is-rounded sidenav-photo" src="/assets/images/photo.jpg">
        </figure>
        <div class="sidenav-data">
            <div class="sidenav-description has-text-centered has-text-white">
                Alejandro Corbellini<br>PhD in Computer Science <br>& Senior Software Eng.
            </div>
        </div>
        <div class="sidenav-menu">
            <a class="button is-rounded is-light">
                <span class="icon">
                    <i class="fas fa-feather-alt"></i>
                </span>
                <span>Blog</span>
            </a>
            <a class="button is-rounded is-light">
                <span class="icon">
                    <i class="fas fa-newspaper"></i>
                </span>
                <span>Resume</span>
            </a>
            <a class="button is-rounded is-light" href="https://www.linkedin.com/in/acorbellini/">
                <span class="icon">
                    <i class="fab fa-linkedin"></i>
                </span>
                <span>LinkedIn</span>
            </a>
            <a class="button is-rounded is-light" href="https://github.com/acorbellini">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </a>
        </div>
    </div>
</div>